body{
    
}
.container{
    margin:0;
    padding:0;
    max-width:100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/image/main_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;


}
.form{
    width: 500px;
    border:1px solid rgb(253, 143, 0);
    border-radius: 10px;
    background-color: transparent;

}