<!DOCTYPE html>
<html lang="en">

    <head data-th-fragment="head-section">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
            integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
            
        <title data-th-utext="|Mo-Blog|"></title>
    </head>

    <body>

        <header data-th-fragment="heading-link-section(url,name)">
            <nav class="navbar navbar-light mb-3 ">
                <figure>
                    <blockquote class="blockquotehead">
                        <h1 data-th-text="|WELCOME TO Mo-Blog|"></h1>
                        <p>Uncover unique <cite title="Source Title">Destinations</cite> , expert tips, and inspiration for your next extraordinary journey.</p>
                    </blockquote> 
                    <hr>  
                </figure>
                <ul class="nav nav-pills nav-fill justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" data-th-href="${url}" data-th-text="${name}"></a>
                    </li>
                </ul>
            </nav>
        </header>

        <footer class="text-center" data-th-fragment="footer-section">
            <section class="mt-5">
                <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #3b5998"
                    href="https://www.facebook.com/jyotinarayan.bubun.9" role="button"><i class="fab fa-facebook-f"></i></a>

                <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #55acee"
                    href="https://twitter.com/Jyonmishra/" role="button"><i class="fab fa-twitter"></i></a>

                <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #dd4b39"
                    href="https://www.instagram.com/jyonmishra/" role="button"><i class="fab fa-instagram"></i></a>

                <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #0082ca"
                    href="https://www.linkedin.com/in/jyoti-narayan-mishra-a79543213/" role="button"><i class="fab fa-linkedin-in"></i></a>

                <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #333333"
                    href="https://github.com/Jyonmishra750" role="button"><i class="fab fa-github"></i></a>

                <div class="text-center p-3" data-th-text="|© ${year} Copyright@Jyonmishra|"></div>
            </section>
        </footer>
    </body>

</html>