<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>All Student Detail Page</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" 
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
	crossorigin="anonymous"/>	
</head>
<body>
	
	<div class="container" align="center"><br>
	<a th:href="@{/addPerson}" class="btn btn-primary" >Add Person</a>
	<h1>All The Students Information As Follows</h1>
	<table style="width: 80% ; border: 1px;">
		<tr>
			<th>Roll</th>
			<th>Name</th>
			<th>Email</th>
			<th>Contact</th>
			<th>Gender</th>
			<th>DOB</th>
			<th>Course</th>
			
			<th>Admission Year</th>
			<th>Action</th>
		</tr>
		<tr th:each="student:${students}">
			<td th:text="${student.roll_number}">Roll</td>
			<td th:text="${student.name}">Name</td>
			<td th:text="${student.email}">Email</td>
			<td th:text="${student.contact}">Contact</td>
			<td th:text="${student.gender}">Gender</td>
			<td th:text="${student.DOB}">DOB</td>
			<td th:text="${student.course}">Course</td>
			<td th:text="${student.year}">Admission year</td>
			
		</tr>
	</table>
	</div><br>

</body>

</html>